.bgcont{
  background-image: url('https://images.unsplash.com/photo-1492892132812-a00a8b245c45?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  color: white;
  font-weight: bold;
}
h1{
  color: yellow;
  text-decoration: underline;
}
h3{
  color: pink;
}
a{
  color: white;
  font-size: 26px;
}
